<div class="container">
    <div class="columns">
        <div class="column is-6">
            <strong style="font-size: 30px">About Us</strong>
            <br>
            <br>
            <p>Generative models are a class of machine learning algorithms that operate over complex, high-dimensional objects such as images, sequences, and graphs. Recent advances have greatly improved the capabilities of generative models and have enabled new applications in computer-generated art, natural language processing, computational drug design, and other areas.</p>
            <br>
            <p>This course explores the foundational probabilistic principles of generative models, their learning algorithms, and popular model families, which include variational autoencoders, generative adversarial networks, autoregressive models, normalizing flows, and diffusion models. The course also covers applications in domains such as computer vision, natural language processing, and biomedicine, and draws connections to the field of reinforcement learning.</p>
            <br>
        </div>
        <div class="column is-6">
            {% include youtube.html video="IZgvgLy1wyg" %}
        </div>
    </div>

    <div class="column is-12">
                    <hr />
    </div>
</div>