<div class="container">
    <div class="columns">
        <div class="column is-6">
            <strong style="font-size: 30px">About Us</strong>
            <br>
            <br>
            <p>Generative models are a key paradigm for probabilistic reasoning within graphical models and probabilistic programming languages. It is one of the exciting and rapidly-evolving fields of statistical machine learning and artificial intelligence. </p>
            <br>
            <p>In this course, we will study the probabilistic foundations and learning algorithms for deep generative models and discuss application areas that have benefitted from deep generative models.</p>
            <br>
            <p style="text-align:left; margin-bottom:0;">
            <details>
                <summary>Prerequisites</summary>
                <li>Basic knowledge about machine learning from at least one of: </li>
                    <ul style="padding-left: 30px;">
                        <li>Introduction to Machine Learning (CS4780).</li>
                        <li>Practicum in Artificial Intelligence (CS4701).</li>
                        <li>Applied Machine Learning (CS5785).</li>
                    </ul>
                <li>Basic knowledge of probabilities and calculus. </li>
                <ul style="padding-left: 30px;">
                    <li>Students will work with computational and mathematical models. </li>
                </ul>
                <li>Basic knowledge of deep neural networks (CNNs, RNNs, Deep Learning). </li>
                <br>
                <li>Extensive experience implementing deep neural networks is not required but will be helpful for the class project. </li>
                <li>Proficiency in a programming language (preferably Python) will be helpful for completing the class project if you want to perform an implementation.</li>
            </details>
            </p>
        </div>
        <div class="column is-6">
            {% include youtube.html video="vcE9WGbi4QY" %}
        </div>
    </div>

    <div class="column is-12">
                    <hr />
    </div>
</div>