<div class="container">
    <div class="columns">
        <div class="column is-6">
            <strong style="font-size: 30px">About Us</strong>
            <br>
            <br>
            <p>Generative models are a key paradigm for probabilistic reasoning within graphical models and probabilistic programming languages. It is one of the exciting and rapidly-evolving fields of statistical machine learning and artificial intelligence. </p>
            <br>
            <p>In this course, we will study the probabilistic foundations and learning algorithms for deep generative models and discuss application areas that have benefitted from deep generative models.</p>
            <br>
        </div>
        <div class="column is-6">
            {% include youtube.html video="vcE9WGbi4QY" %}
        </div>
    </div>

    <div class="column is-12">
                    <hr />
    </div>
</div>