<div class="container">
    <div class="columns is-multiline">
            <div class="column is-12">
                <p class="title is-3 has-text-centered">
                    <span>What's Inside</span>
                </p>
                <!-- <div class="columns is-centered">
                    <div class="column is-6 content has-text-centered">
                        <p>Test test test</p>
                    </div>
                </div> -->

                <div class="columns is-multiline is-centered">
                    <div class="column is-4-desktop is-6-tablet">
                        <div class="has-text-centered">
                            <p class="title is-4">
                                Core Concepts & Techniques
                            </p>
                            <!-- <figure class="image is-128x128" style="display:block; margin: auto;"><img style="border-radius: 50%;" src="path.img"></figure>
                            <br> -->
                            <p class="is-5">
                                <strong>Discover the Building Blocks.</strong>
                            </p>
                            <p class="subtitle is-6">
                                <p>Delve into the fundamentals of generative modeling, focusing on Variational Autoencoders (VAEs) and Generative Adversarial Networks (GANs). Learn the theory behind these powerful models and their application in generating realistic and complex data.</p>
                                &nbsp;
                            </p>
                        </div>
                    </div>

                    <div class="column is-4-desktop is-6-tablet">
                        <div class="has-text-centered">
                            <p class="title is-4">
                                Practical Applications & Projects
                            </p>
                            <p class="is-5">
                                <strong>Apply Knowledge to Real-world Challenges.</strong>
                            </p>
                            <p class="subtitle is-6">
                                <p>Engage with hands-on projects that apply deep generative models across various domains. From image and text generation to complex data synthesis, this section encourages creativity and innovation in solving practical problems with generative AI.</p>
                                &nbsp;
                            </p>
                        </div>
                    </div>

                    <div class="column is-4-desktop is-6-tablet">
                        <div class="has-text-centered">
                            <p class="title is-4">
                                Integration & Enhancement
                            </p>
                            <p class="is-5">
                                <strong>Explore Cutting-edge Model Combinations.</strong>
                            </p>
                            <p class="subtitle is-6">
                                <p>Study advanced techniques for combining different generative models to create sophisticated systems capable of producing highly detailed and diverse outputs, including PixelVAE and FlowGAN examples.</p>
                                &nbsp;
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

