<div class="container">
    <div class="columns is-multiline">
            <div class="column is-12">
                <p class="title is-3 has-text-centered">
                    <span>General Information</span>
                </p>

                <div class="columns is-multiline is-centered">
                    <div class="column is-6-desktop is-6-tablet">
                        <div class="has-text">
                            <p class="title is-4">
                                What you will learn
                            </p>
                            <p class="subtitle is-6">
                                <!-- <p>Machine learning is one of todays most transformative technologies. In this course, you will learn:</p> -->
                                <p>Key elements of this course include:</p>
                                <ul>
                                    <li>Foundational probabilistic principles of deep generative models.</li>
                                    <li>DGM learning algorithms, and popular model families. </li>
                                    <li>Applications in domains such as computer vision, NLP, and biomedicine. </li>
                                </ul>

                            </p>
                        </div>
                    </div>

                    <div class="column is-6-desktop is-6-tablet">
                        <div class="has-text">
                            <p class="title is-4">
                                Prerequisites
                            </p>
                            <p class="subtitle is-6">
                                <p style="text-align:left; margin-bottom:0;">
                                    This PhD-level course requires a background in mathematics and programming at the level of Master's level courses.
                                    <ul>
                                    <li>Basic knowledge about machine learning from at least one of: CS4780, CS4701, CS5785.</li>
                                    <li>Basic knowledge of probabilities and calculus: students will work with computational and mathematical models.</li>
                                    <li>Basic knowledge of deep neural networks (CNNs, RNNs; CS5787). Extensive experience implementing deep neural networks is not required but will be helpful for the class project.</li>
                                    <li>Proficiency in a programming language (preferably Python) will be helpful for completing the class project if you want to perform an implementation.</li>
                                    </ul>
                                </p>
                                &nbsp;
                            </p>
                        </div>
                    </div>

                </div>
            </div>
    </div>
</div>

