<footer class="footer">
    <div class="container">

        {% if site.footer_menu %}
        <div class="columns is-multiline is-vcentered">
            <div class="column is-2">
                <figure class="image">
                    <a href="https://www.tech.cornell.edu"><img src="{{ site.siteurl }}/img/cornell_brand_registered.svg"></a>
                </figure>
            </div>

            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link" style="text-align: center;">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}


        <div class="content is-small has-text-centered">
            <p class="">© 2022 Cornell University. All right reserved.</p>
            <p class="">If you have a disability and are having trouble accessing information on this website, contact <a href="mailto:web-accessibility@cornell.edu">web-accessibility@cornell.edu</a> for assistance.</p>
        </div>

    </div>
</footer>
