<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary"  style="background: url('https://aml.hongjunwu.com/img/hero_image_tinted.png') no-repeat center center; background-size: cover;" >
    <!--
        <section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    -->
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container">
            <div class = "columns">
                <div class="column is-one-quarter">
                    <figure class="image">
                        <a href="https://www.tech.cornell.edu"><img src="{{ site.siteurl }}/img/cornell-tech-logo-optimized.png"></a>
                    </figure>
                </div>
                <div class="column is-1">
                    <h1 class="title is-2"> </h1>
                </div>
                <div class="column">
                    <h1 class="title is-2">{{ page.title }}</h1>
                    <p class="subtitle is-3">{{ page.subtitle }}</p>
                </div>
                {% if page.hero_link %}
                    <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>